@font-face /*perintah untuk memanggil font eksternal*/ {
  font-family: "Cash-Currency"; /*memberikan nama bebas untuk font*/
  src: url("font/Cash-Currency/Cash-Currency.ttf"); /*memanggil file font eksternalnya di folder nexa*/
}

body {
  background-color: #f5d6a8;
}

footer > .row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #6b3e04;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.display-4 {
  font-family: "Cash-Currency";
}

.jumbotron {
  padding-top: 4rem;
  background-color: #ff910080;
  overflow: hidden;
}

.jumbotronindex {
  overflow: hidden;
}

.ignite {
  color: white;
  text-decoration: none;
}

.ignite:hover {
  color: white;
}

.index {
  background-color: #ff910080;
}

.jumbotronindex {
  padding-top: 4rem;
}

#list {
  font-weight: bold;
}

#innerlist {
  font-weight: normal;
}
/* back to top button */
#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 20px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border-style: solid; /* make borders */
  outline: none; /* Remove outline */
  background-color: #ff9100; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 20px; /* Increase font size */
  border-radius: 30%;
}

#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}

#ttb {
  list-style-type: none;
}

#cp {
  list-style-type: none;
  font-weight: bold;
}

#kriteria {
  list-style-type: lower-alpha;
}

#wajib {
  list-style-type: disc;
}

.disappear {
  animation: vanish 1s forwards;
}

@keyframes vanish {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
